[submodule "usbmuxd"]
	path = usbmuxd
	url = https://github.com/artygus/usbmuxd-win32
[submodule "ios-webkit-debug-proxy"]
	path = ios-webkit-debug-proxy
	url = https://github.com/artygus/ios-webkit-debug-proxy-win32
